/**
 * 公用样式
 * 例：@include clearfix;  或  class="clearfix"
 */
// 清除浮动
@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

// 宽度和高度决定了元素的边框盒
@mixin rdc-box-sizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

// 反转
@mixin inverse {
    transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
}
